/*Generic Styling*/
body {
    background-color: rgb(181, 0, 0);
}
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
}
h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}


#menuBG {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    width: 600px;
    height: 470px;
    margin: 10px auto;
}
#frmMenu {
    width: 600px;
    height: 200px;
    margin: auto;
}
#totalPrice {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    width: 200px;
    height: 190px;
    margin: 0 auto;
    float: right;
}
.left {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    width: 200px;
    height: 200px;
    float: left;
    margin: auto;
}
.middle {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    width: 200px;
    height: 200px;
    float: left;
    margin: auto;
}
.right {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    width: 200px;
    height: 200px;
    float: right;
    margin: auto;
}
#showText {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}
#cart {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    top: 0;
    margin: 0px auto;
    width: 400px;
    height: 200px;
}
#btnOrder {
    margin: 10px 0px 0px 100px;
    width: 100px;
    height: 40px;
    margin: auto;
}